################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeToCure_MVC
/CodeToCure_MVC
/Data
/Services
